@model MVCClient.Models.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var selectList = new SelectList(Model.AllBakeryTypes, "Name", "Name");
}

<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Manage
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">Bakeries</h3>
            <div class="row mb-10">
                <div class="col">
                    <a asp-controller="ManageBakery" asp-action="Create" class="genric-btn info small" style="float:left">Create bakery</a>
                </div>
                <div class="col">
                    <form asp-action="Index" method="GET" style="float:right">
                        <div class="row">
                            <select class="w-auto" asp-for="TypeSearch" asp-items="@selectList">
                                <option value="">All</option>
                            </select>
                            <input placeholder="Find bakery name..." asp-for="SearchString" type="text" />
                            <button class="genric-btn primary small" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <table id="tblbakery" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Describe</th>
                            <th>Type</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Bakeries)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    @{
                                        var imgsrc ="";
                                        if(item.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.Image);
                                            imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                        }

                                    }
                                    <img src="@imgsrc" style="max-width:200px; max-height:100px"/>
                                </td>
                                <td class="text-truncate" style="max-width: 290px">@item.Describe</td>
                                <td>@item.IdtypeNavigation.Name</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                                <td>@item.Discount %</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" asp-controller="ManageBakery" asp-action="Detail" asp-route-id="@item.Id" title="Preview detail"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-warning btn-sm" asp-controller="ManageBakery" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fa fa-pencil"></i></a>
                                    <button id="@item.Id" data-toggle="modal" data-target="#modal-default" class="btn btn-danger btn-sm delete" title="Delete"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete bakery</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to Delete ?</p>
            </div>
            <div id="buttonsFooter" class="modal-footer justify-content-between">
                <button type="button" class="genric-btn info" data-dismiss="modal">Close</button>
                <button type="button" class="genric-btn danger">Delete anyway</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function ()
    {
        var SetButtons = $("#buttonsFooter");
        SetButtons.html("");
        $(document).on("click", ".delete", function ()
        {
            var id = $(this).attr("id");
            var Data = '<button type="button" class="genric-btn info" data-dismiss="modal">Close</button>' +
                '<a href="/ManageBakery/Delete/' + id + '" type="button" class="genric-btn danger">Delete anyway</a>';
            SetButtons.append(Data);
        })

        $("#tblbakery").dataTable();
    });
</script>