@model IndexViewModel

@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var selectList = new SelectList(Model.AllBakeryTypes, "Name", "Name");
}

<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Menu List
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start menu-list Area -->
<section class="menu-list-area section-gap">
    @*<button id="0" data-toggle="modal" data-target="#modal-default" class="btn btn-danger btn-sm delete" title="Delete"><i class="fa fa-trash"></i></button>*@
    <div class="container">
        <div class="row">
            <div class="menu-cat mx-auto">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="all-tab" data-toggle="pill" href="#all" role="tab" aria-controls="all" aria-selected="true">
                            All
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sale-tab" data-toggle="pill" href="#sale" role="tab" aria-controls="sale" aria-selected="true">
                            Sale
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="newbakery-tab" data-toggle="pill" href="#newbakery" role="tab" aria-controls="newbakery" aria-selected="true">
                            New bakery
                        </a>
                    </li>
                    @foreach (var type in Model.AllBakeryTypes)
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="@type.Name-tab" data-toggle="pill" href="#@type.Name" role="tab" aria-controls="@type.Name" aria-selected="true">
                                @type.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col text-right">
                <form asp-action="Index" method="GET" style="float:right">
                    <select hidden class="w-auto" asp-for="TypeSearch" asp-items="@selectList">
                        <option value="">All</option>
                    </select>
                    <input placeholder="Find bakery name..." asp-for="SearchString" type="text" />
                    <button class="genric-btn primary small" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div id="pills-tabContent" class="tab-content absolute">
            @*ALL TAB*@
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                @foreach (var item in Model.Bakeries)
                {
                    <div class="single-menu-list row justify-content-between align-items-center">
                        <div class="col-lg-2" align="center">
                            @{
                                var imgsrc = "";
                                if (item.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(item.Image);
                                    imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                }

                            }
                            <img src="@imgsrc" class="img-fluid" />
                        </div>
                        <div class="col-lg-4">
                            <a href="#" align="center"><h4>@item.Name</h4></a>
                            <p class="text-truncate" style="max-width: 700px">
                                @item.Describe
                            </p>
                        </div>
                        <div class="col-lg-2 flex-row d-flex price-size">
                            <div class="s-price col">
                                @*<span>@item.Price Đ</span>*@
                                <span>
                                    @if (item.Discount > 0)
                                    {
                                        <s class="text-black">@item.Price Đ</s> <b>@(item.Price - (item.Price * item.Discount / 100) ) Đ</b>
                                    }
                                    else
                                    {
                                        <b>@item.Price Đ</b>
                                    }

                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4" align="center">
                            <button data-toggle="modal" data-target="#modal-default" data-id="@item.Id" data-amount="1" class="genric-btn info btnAdd">Add</button>
                            <a asp-controller="Menu" asp-action="Detail" asp-route-id="@item.Id" class="genric-btn warning">Detail</a>
                        </div>
                    </div>
                }
            </div>

            @*SALE TAB*@
            <div class="tab-pane fade" id="sale" role="tabpanel" aria-labelledby="sale-tab">
                @foreach (var item in Model.BakeriesSale)
                {
                    <div class="single-menu-list row justify-content-between align-items-center">
                        <div class="col-lg-2" align="center">
                            @{
                                var imgsrc = "";
                                if (item.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(item.Image);
                                    imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                }

                            }
                            <img src="@imgsrc" class="img-fluid" />
                        </div>
                        <div class="col-lg-4">
                            <a href="#" align="center"><h4>@item.Name</h4></a>
                            <p class="text-truncate" style="max-width: 700px">
                                @item.Describe
                            </p>
                        </div>
                        <div class="col-lg-2 flex-row d-flex price-size">
                            <div class="s-price col">
                                @*<span>@item.Price Đ</span>*@
                                <span>
                                    @if (item.Discount > 0)
                                    {
                                        <s class="text-black">@item.Price Đ</s> <b>@(item.Price - (item.Price * item.Discount / 100) ) Đ</b>
                                    }
                                    else
                                    {
                                        <b>@item.Price Đ</b>
                                    }

                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4" align="center">
                            <button data-toggle="modal" data-target="#modal-default" data-id="@item.Id" data-amount="1" class="genric-btn info btnAdd">Add</button>
                            <a asp-controller="Menu" asp-action="Detail" asp-route-id="@item.Id" class="genric-btn warning">Detail</a>
                        </div>
                    </div>
                }
            </div>


            @*NEW BAKERY TAB*@
            <div class="tab-pane fade" id="newbakery" role="tabpanel" aria-labelledby="newbakery-tab">
                @foreach (var item in Model.BakeriesNew)
                {
                    <div class="single-menu-list row justify-content-between align-items-center">
                        <div class="col-lg-2" align="center">
                            @{
                                var imgsrc = "";
                                if (item.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(item.Image);
                                    imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                }

                            }
                            <img src="@imgsrc" class="img-fluid" />
                        </div>
                        <div class="col-lg-4">
                            <a href="#" align="center"><h4>@item.Name</h4></a>
                            <p class="text-truncate" style="max-width: 700px">
                                @item.Describe
                            </p>
                        </div>
                        <div class="col-lg-2 flex-row d-flex price-size">
                            <div class="s-price col">
                                @*<span>@item.Price Đ</span>*@
                                <span>
                                    @if (item.Discount > 0)
                                    {
                                        <s class="text-black">@item.Price Đ</s> <b>@(item.Price - (item.Price * item.Discount / 100) ) Đ</b>
                                    }
                                    else
                                    {
                                        <b>@item.Price Đ</b>
                                    }

                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4" align="center">
                            <button data-toggle="modal" data-target="#modal-default" data-id="@item.Id" data-amount="1" class="genric-btn info btnAdd">Add</button>
                            <a asp-controller="Menu" asp-action="Detail" asp-route-id="@item.Id" class="genric-btn warning">Detail</a>
                        </div>
                    </div>
                }
            </div>


            @foreach (var type in Model.AllBakeryTypes)
            {
                <div class="tab-pane fade" id="@type.Name" role="tabpanel" aria-labelledby="@type.Name-tab">
                    @foreach (var item in Model.Bakeries)
                    {
                        if (item.IdtypeNavigation.Name == type.Name)
                        {
                            <div class="single-menu-list row justify-content-between align-items-center">
                                <div class="col-lg-2">
                                    @*<img class="img-fluid" src="~/img/c1.jpg" alt="">*@
                                    @{
                                        var imgsrc = "";
                                        if (item.Image != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.Image);
                                            imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                        }

                                    }
                                    <img src="@imgsrc" class="img-fluid" />
                                </div>
                                <div class="col-lg-4">
                                    <a href="#"><h4>@item.Name</h4></a>
                                    <p class="text-truncate" style="max-width: 700px">
                                        @item.Describe
                                    </p>
                                </div>
                                <div class="col-lg-2 flex-row d-flex price-size">
                                    <div class="s-price col">
                                        <span>
                                            @if (item.Discount > 0)
                                            {
                                                <s class="text-black">@item.Price Đ</s> <b>@(item.Price - (item.Price * item.Discount / 100) ) Đ</b>
                                            }
                                            else
                                            {
                                                <b>@item.Price Đ</b>
                                            }

                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4" align="center">
                                    <button data-toggle="modal" data-target="#modal-default" data-id="@item.Id" data-amount="1" class="genric-btn info btnAdd">Add</button>
                                    <a asp-controller="Menu" asp-action="Detail" asp-route-id="@item.Id" class="genric-btn warning">Detail</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
</section>
<!-- End menu-list Area -->
<!-- Start item-category Area -->
<!-- Start about-video Area -->
<section class="about-video-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 about-video-left">
                <h6 class="text-uppercase">Brand new app to blow your mind</h6>
                <h1>
                    We’ve made a life <br>
                    that will change you
                </h1>
                <p>
                    <span>We are here to listen from you deliver exellence</span>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmo d tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a class="primary-btn" href="#">Get Started Now</a>
            </div>
            <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex">
                <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="img/play.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
<!-- End about-video Area -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title text-dark"><i class="fa fa-spinner"></i>  Adding bakery...</h4>
            </div>
        </div>
    </div>
</div>

<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function ()
    {
        //$('#modal-default').on('show.bs.modal', function ()
        //{
        //    var myModal = $(this);
        //    clearTimeout(myModal.data('hideInterval'));
        //    myModal.data('hideInterval', setTimeout(function ()
        //    {
        //        myModal.modal('hide');
        //    }, 1200));
        //});

        $(document).on("click", ".btnAdd", function ()
        {
            var id = $(this).data("id");
            var amount = $(this).data("amount");
            $.ajax({
                url: "/ShoppingCart/AddToShoppingCart",
                type: "post",
                data: {
                    id: id,
                    amount: amount
                },
                dataType: "json",
                success: function (response)
                {
                    if (response.status)
                    {
                        $('#modal-default').modal('hide');
                    }
                }
            })
        })
    });
</script>