@model IndexBakeryTypeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Manage
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">Bakery types</h3>
            <div class="row mb-10">
                <div class="col">
                    <a asp-controller="ManageBakeryType" asp-action="Create" class="genric-btn info small" style="float:left">New tpye</a>
                </div>
                <div class="col">
                    <form asp-action="Index" method="GET" style="float:right">
                        <div class="row">
                            <input placeholder="Find bakery type..." asp-for="@Model.searchString" type="text" />
                            <button class="genric-btn primary small" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.bakeryTypes)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Status</td>
                                <td>
                                    <a class="btn btn-warning small" asp-controller="ManageBakeryType" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fa fa-pencil"></i></a>
                                    <button id="@item.Id" data-toggle="modal" data-target="#modal-default" class="btn btn-danger small delete" title="Delete"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete bakery</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to Delete ?</p>
            </div>
            <div id="buttonsFooter" class="modal-footer justify-content-between">
                <button type="button" class="genric-btn info" data-dismiss="modal">Close</button>
                <button type="button" class="genric-btn danger">Delete anyway</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function ()
    {
        var SetButtons = $("#buttonsFooter");
        SetButtons.html("");
        $(document).on("click", ".delete", function ()
        {
            var id = $(this).attr("id");
            var Data = '<button type="button" class="genric-btn info" data-dismiss="modal">Close</button>' +
                '<a href="/ManageBakeryType/Delete/' + id + '" type="button" class="genric-btn danger">Delete anyway</a>';
            SetButtons.append(Data);
        })
    });
</script>

