@model IdentityServerAspNetIdentity.Models.ListUserViewModel
@{
    ViewData["Title"] = "GetAllUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a asp-controller="Account" asp-action="CreateManagerAccount" class="btn btn-success">Create account manager</a>
    <a href="http://localhost:5002" class="btn btn-warning">Back</a>
</div>
<h3>Managers</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>User name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityServerAspNetIdentity.Models.ApplicationUser item in Model.listUserInRoleManager)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                @if ((bool)item.IsEnabled)
                {
                    <td><a asp-controller="Account" asp-action="ChangeStatusAccount" asp-route-idaccount="@item.Id" asp-route-idadmin="@ViewBag.idAdmin" class="btn btn-success">Active</a></td>
                }
                else
                {
                    <td><a asp-controller="Account" asp-action="ChangeStatusAccount" asp-route-idaccount="@item.Id" asp-route-idadmin="@ViewBag.idAdmin" class="btn btn-danger">Inactive</a></td>
                }
            </tr>
        }
    </tbody>
</table>
<br />
<h3>Users</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>User name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityServerAspNetIdentity.Models.ApplicationUser item in Model.listUserInRoleUser)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                @if ((bool)item.IsEnabled)
                {
                    <td><a asp-controller="Account" asp-action="ChangeStatusAccount" asp-route-idaccount="@item.Id" asp-route-idadmin="@ViewBag.idAdmin" class="btn btn-success">Active</a></td>
                }
                else
                {
                    <td><a asp-controller="Account" asp-action="ChangeStatusAccount" asp-route-idaccount="@item.Id" asp-route-idadmin="@ViewBag.idAdmin" class="btn btn-danger">Inactive</a></td>
                }
            </tr>
        }
    </tbody>
</table>


