@model IEnumerable<OrderDetail>
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Order detail
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Bakery</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.IdbakeryNavigation.Name</td>
                            <td>@item.Quantity</td>
                            @if (item.IdbakeryNavigation.Discount > 0)
                            {
                                <td>@(item.IdbakeryNavigation.Price - (item.IdbakeryNavigation.Price * item.IdbakeryNavigation.Discount / 100)) Đ</td>
                            }
                            else
                            {
                                <td>@item.IdbakeryNavigation.Price Đ</td>
                            }

                            <td>@((item.Quantity * (item.IdbakeryNavigation.Price - (item.IdbakeryNavigation.Price * item.IdbakeryNavigation.Discount / 100))).ToString()) Đ</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col text-right">
                    <a class="genric-btn warning" asp-controller="ManageOrder" asp-action="Index">BACK</a>
                </div>
            </div>
        </div>
    </div>
</div>

