@model IEnumerable<Orders>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Manage
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">Orders</h3>
            <div class="row mb-10">
                <div class="col text-right"></div>
                <form asp-action="Index" method="GET" style="float:right">
                    <div class="row">
                        <input id="dateSearch" name="dateSearch" type="date" />
                        <input placeholder="Search..." id="searchString" name="searchString" type="text" />
                        <button class="genric-btn primary small" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>OrderId</th>
                            <th>Customer name</th>
                            <th>Date</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td class="text-truncate" style="max-width: 250px">@(item.FirstName + " " + item.LastName)</td>
                            <td>@((item.CreateDate.HasValue) ? item.CreateDate.Value.ToString("dd/MM/yyyy") : null)</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            <td>@item.OrderTotal</td>
                            @if (item.IsPaid)
                            {
                                <td><button class="btn btn-success">Paid <i class="fa fa-check"></i></button></td>
                            }
                            else
                            {
                                <td><button class="btn btn-warning">COD <i class="fa fa-spinner"></i></button></td>
                            }

                        <td>
                            @if (item.Status == 1)
                            {
                                <button class="btn btn-success small" title="on delivery"><i class="fa fa-truck"></i></button>
                            }
                            else
                            {
                                <button data-toggle="modal" data-target="#modal-delivery" class="btn btn-warning waitingdelivery" id="@item.Id"  title="Waiting delivery"><i class="fa fa-spinner"></i></button>
                            }
                            <a class="btn btn-primary" asp-controller="ManageOrder" asp-action="Detail" asp-route-id="@item.Id" title="Detail"><i class="fa fa-eye"></i></a>
                            @if (!item.IsPaid)
                            {
                                <button id="@item.Id" data-toggle="modal" data-target="#modal-default" class="btn btn-danger small delete" title="Delete"><i class="fa fa-trash"></i></button>
                            }

                        </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="modal-delivery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delivery order</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>DELIVERY this order ?</p>
            </div>
            <div id="buttonsFooterDelivery" class="modal-footer justify-content-between">
                <button type="button" class="genric-btn info" data-dismiss="modal">Close</button>
                <button type="button" class="genric-btn danger">Delivery now</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete order</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to DELETE this order ?</p>
            </div>
            <div id="buttonsFooterDelete" class="modal-footer justify-content-between">
                <button type="button" class="genric-btn info" data-dismiss="modal">Close</button>
                <button type="button" class="genric-btn danger">Delete anyway</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function ()
    {
        $(document).on("click", ".waitingdelivery", function ()
        {
            var SetButtons = $("#buttonsFooterDelivery");
            SetButtons.html("");
            var id = $(this).attr("id");
            var Data = '<button type="button" class="genric-btn warning" data-dismiss="modal">Close</button>' +
                '<button id="' + id +'" class="genric-btn info btndeliverynow" data-dismiss="modal">Delivery now</button>';
            SetButtons.append(Data);
        });

        $(document).on("click", ".btndeliverynow", function ()
        {
            var id = $(this).attr("id");
            $.ajax({
                url: "/ManageOrder/DeliveryOrder/" + id,
                type: "post",
                data: {
                    id: id
                },
                dataType: "json",
                success: function (response)
                {
                    if (response.status)
                    {
                        $("#" + id).removeAttr("data-target data-toggle")
                        $("#" + id).removeClass("btn-warning").addClass("btn-success");
                        $("#" + id + " i").removeClass("fa-spinner").addClass("fa-truck");
                    }
                }
            })
        })
        
        $(document).on("click", ".delete", function ()
        {
            var SetButtons = $("#buttonsFooterDelete");
            SetButtons.html("");
            var id = $(this).attr("id");
            var Data = '<button type="button" class="genric-btn warning" data-dismiss="modal">Close</button>' +
                '<a href="/ManageOrder/Delete/' + id + '" type="button" class="genric-btn danger">Delete anyway</a>';
            SetButtons.append(Data);
        });
    });
</script>